* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.6;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #25d4ab9f;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #582ba1ce;
    color: #ffffff44;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #f9f9f969;
}
main {
    padding: 40px;
    background: #ffffff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #121b21;
    color: #ffffff;
}